:host {
  display: inline-flex;
  flex: 0 0 auto;
}

.icon {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

.icon--small {
  --icon-size: 1rem;
}
.icon--medium {
  --icon-size: 1.5rem;
}
.icon--large {
  --icon-size: 2rem;
}
