<header
  class="navbar"
  [class.navbar--scrolled]="scrolled()"
  [class.navbar--menu-open]="menuOpen()"
>
  <div class="navbar__inner">
    <a
      class="navbar__brand"
      routerLink="/"
      aria-label="MalagaCrafters, ir al inicio"
      (click)="goHome()"
    >
      <img
        src="/images/logo_navBar_footer.png"
        width="500"
        height="500"
        alt="Logotipo de MalagaCrafters"
      />
      <span>Malaga<span>Crafters</span></span>
    </a>

    <button
      class="navbar__toggle"
      [class.navbar__toggle--open]="menuOpen()"
      type="button"
      [attr.aria-expanded]="menuOpen()"
      aria-controls="main-navigation"
      [attr.aria-label]="menuOpen() ? 'Cerrar menú' : 'Abrir menú'"
      (click)="toggleMenu()"
    >
      <span></span><span></span><span></span>
    </button>

    <nav
      id="main-navigation"
      class="navbar__nav"
      [class.navbar__nav--open]="menuOpen()"
      aria-label="Navegación principal"
    >
      <ul>
        @for (item of navigationItems; track item.sectionId) {
          <li>
            <a [href]="item.href" (click)="closeMenu()">{{ item.label }}</a>
          </li>
        }
      </ul>
      <app-button href="/#contacto" icon="arrow-right" (click)="closeMenu()">
        Contáctanos
      </app-button>
    </nav>

    <button
      class="navbar__backdrop"
      [class.navbar__backdrop--open]="menuOpen()"
      type="button"
      aria-label="Cerrar menú"
      [attr.tabindex]="menuOpen() ? 0 : -1"
      (click)="closeMenu()"
    ></button>
  </div>
</header>
